<br><br><br>

<div class="col1">
<div class="center">

<h1>Sightseeing, Sceneries, Activities and More</h1>
<% @tours.each do |t| %>
    <%= link_to t.name, tour_path(t) %></br>
<% end %>

</div>
</div>