<h1> Please click on the time below to choose an available slot </h1>
<p>Tour: <%= @tour.name %></p>
<p>Description: <%= @tour.description %></p>
<p>Price: <%=  @tour.price %></p>

<% @slots.select do |slot|%>
 <% slot.user_id != nil %>
 <p><%= link_to slot.time, new_tour_path %>:00AM</p>
<% end %>
