<h1>Reviews</h1>

<p>Sort by National Park:</p>
<% @reviews.each do |reviews| %>
    <%= link_to reviews.national_park.name, review_path(reviews)%> <br/><br/>
<% end %>

<p>Sort by User</p>
<% @reviews.each do |reviews| %>
    <%= link_to reviews.user.name, review_path(reviews)%> <br/><br/>
<% end %>

<p>Create New Review</p>
    <%= link_to "Make Review", new_review_path %> <br/><br/>
